<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
  
    <!-- Provide support for component scanning -->  
    <context:component-scan base-package="com.controller" ></context:component-scan>  
  
    <!--Provide support for conversion, formatting and validation -->  
    <mvc:annotation-driven/>  
	 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/jsp_files/"></property>  
        <property name="suffix" value=".jsp"></property>
               
     </bean> 
     <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>    
		<property name="url" value="jdbc:mysql://localhost:3306/Law_Guardian?useSSL=false"></property>    
		<property name="username" value="root"></property>    
		<property name="password" value="Harik@6789"></property>    
	</bean>
	
	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">    
		<property name="dataSource" ref="ds"></property>    
	</bean>    
	<bean id="multipartResolver"   
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
    
	<bean id="policedao" class="com.sign_in_police.dao.police_dao_impl">
		<property name="template" ref="jt"></property>
	</bean>
	<bean id="criminaldao" class="com.sign_in_police.dao.criminal_dao_impl">
		<property name="template" ref="jt"></property>
	</bean>
	<bean id="criminal_report_dao" class="com.sign_in_police.dao.criminal_Report_Dao_impl">
		<property name="template" ref="jt"></property>
	</bean>
<mvc:resources location="/static/images" mapping="/images/**"></mvc:resources>
	
  
</beans>
	  
